user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log notice;
pid /run/nginx.pid;

include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
        http3_stream_buffer_size 1m;
        quic_retry on;
        ssl_early_data on;
        quic_gso on;

        quic_host_key /etc/nginx/ssl/quic_host.key;

        ssl_protocols TLSv1.3;

        include /etc/nginx/conf.d/*.conf;
}