server {
        listen 443 ssl;
        listen 443 quic reuseport;

        ssl_certificate /etc/letsencrypt/live/awspnvpn1.aws.kevharv.com/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/awspnvpn1.aws.kevharv.com/privkey.pem;

        ssl_protocols TLSv1.3;

        http2 on;
        http3 on;

        add_header Alt-Svc 'h3=":443"; ma=86400, h3-29=":443"; ma=86400' always;
        add_header X-Content-Type-Options nosniff;

        server_name awspnvpn1.aws.kevharv.com;

        root /usr/share/nginx/html;
        index index.html;

        location / {
                try_files $uri $uri/ =404;
        }
}